/* Global Styling here */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -msbox-sizing: border-box;
}

.active {
    font-weight: 500;
}

html,
body,
#__next {
    position: relative;
    height: 100vh;
    /* WARNING! USING 100vw won't account the scrollbar and will therefore add a horizontal scrollbar */
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: "white";
}
