/* Global Styling here */
html,
body,
#__next {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: "white";
}
/*
.dibs-checkout-wrapper {
    flex: 1 !important;
    padding-top: 2em !important;
    padding-left: 2em !important;
    padding-right: 2em !important;
    background-color: var(--chakra-colors-gray-50) !important;
}


.dibs-checkout-wrapper > div {
    border-color: var(--chakra-colors-white) !important;
}
*/
